<!DOCTYPE html>
<html>
<head>
  <title>EventSubManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div >
	<% flash.each do |key,value| %>
	<div><%= value %></div>
	<% end %>
	<%= yield %>
</div>


</body>
</html>
